---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels: 
    app: mongo
spec:
  type: NodePort
  ports:
  - port: 27017
    nodePort: 32717
    protocol: TCP
  selector:
    app: mongo
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongo-deploy
spec:
  replicas: 2
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: mongo
    spec: 
      containers:
      - name: mongo-pod
        image: mongo
        ports:
        - containerPort: 27017
